.full-div{ 
    width:100%;
    float:right;
}

#questions{
    border:1px ;
    width:90%;
    text-align:justify;
    padding: 10px;
    color:grey;
    cursor: pointer;
}
#questions >span:hover{
    text-decoration: underline;
      
}



.trending-hastags{
    border:1px solid rgb(238, 227, 227);
    width:90%;
    padding:10px; 
    margin-top: 30px;
    text-align:left;
    font-weight: 500;
    font-size: 20px;
    border-radius:10px;
    background-color: #f5f5f5;

}

.add{
    
    position: relative;
    left:170px;
    bottom:10px;
    width:50px !important;
    height:30px;
}
.profiles{

    display:grid;
    grid-template-columns:8% 8% 8% 8% 8% 8%;
    
}

.profiles > img{
    height:30px;
    margin-bottom: 0px;
}

.hastag-1{ 
    border-top-width:1px;

    margin-top: 10px;
    color:blue;
    cursor: pointer;
    
}

.mike-icon{ position: absolute;
    top: 15px;
    right: 108px;
    width: 20px;
    height:20px;
}

.search{ 
    border:1px solid rgb(238, 227, 227);
    width:90%;
    padding:10px;
    height:50px;
    font-size: 20px;
    outline: 0;
    background-color: #f5f5f5;
    border-radius:10px;
    display:flex;
}
.search-flex{
    display:flex;
    align-items:center;
    justify-content:center;
}

.hash-container{
    margin-top: 10px;
}
.hash-wrap{
    background: #f8f7f3;
    border-radius: 12px;
    padding: 0;
    border: 1px solid #eee;
}
.hash-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 12px;
}
.hash-title{
    font-size: 18px;
    margin: 0;
    font-weight: bolder;
    color: #000000;
    font-family: Roboto,sans-serif;
    /* margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
}

.hash-trendings{
    border-top: 1px solid #e8e8e3;
    padding: 10px 12px 15px;
    display: flex;
    justify-content: space-between;
}
.hash-tags-wrap a{
    text-decoration: none;
}
.hash-tags-wrap h5{
    font-size: 16px;
    margin: 0;
    font-weight: bolder;
    font-family: Roboto,sans-serif;
    color: rgb(63, 127, 212);
}
.hash-followers{
    display: flex;
    margin-top: 5px;
}
.followers-hash{
    height: 20px;
    width: 20px;
    background: transparent;
    border-radius: 20px;
}
.hash-folloers-img{
    height: 20px;
    width: 20px;
    background: transparent;
    border-radius: 20px;
}
.hash-add-btn{
    display: flex;
}
.hash-add-btn a{
    text-decoration: none;
    color: #424242;
}
.hash-add-btn img{
    vertical-align: middle;
    width: 65%;
}