#feedcont {
  max-width: 850px;
}
.cont1 {
  display: flex;
  justify-content: space-between;
  width: 94%;
  margin-left: 3%;
  margin-top: 5%;
}
.cont1 > div {
  display: flex;
}
.cont1 > div > img {
  border: 1px solid black;
  width: 20px;
}
.logo {
  width: 20px;
}
